{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#d9e4d5;
}

img{
    max-width:100%;
    display:block;
}

hr{
    border:2px solid purple;
}

header{
    background:#b8c44b;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    flex-wrap:wrap;
}

.logo{
    display-flex;
    align-items:center;
}

.logo img{
    width:45px;
    margin-right:10px;
}

.logo h1{
    color:#4b5b2a
    font-size:28px
}

nav{
    display:flex
    gap:20px
    flex-wrap:wrap;
}

nav a{
    text-decoration:none;
    color:black;
    font-weight:bold;
    padding:10px 20px;p
}